<nav class="navbar navbar-dark bg-primary d-flex align-items-center">
    <a href="/" class="navbar-brand ml-2">
    GuiaPress
  </a>

    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
    </ul>
</nav>